.dropdown-menu {
    background: red;
    width: 150px;
    position: absolute;
    margin-top: 10px;
    list-style: none;
    text-align: left;
    margin-left: -40px;
    z-index: 8;
  }
  
  .dropdown-menu li {
    background: #797b7e;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #0c3158;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 12px;
    margin-left: -60px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }